<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>org.redhatchallenge.rhc2013 AuthenticationService</servlet-name>
        <servlet-class>org.redhatchallenge.rhc2013.server.AuthenticationServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.redhatchallenge.rhc2013 ProfileService</servlet-name>
        <servlet-class>org.redhatchallenge.rhc2013.server.ProfileServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.redhatchallenge.rhc2013 AuthenticationService</servlet-name>
        <url-pattern>/registration/AuthenticationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.redhatchallenge.rhc2013 ProfileService</servlet-name>
        <url-pattern>/registration/ProfileService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>captchaServiceImpl</servlet-name>
        <servlet-class>org.redhatchallenge.rhc2013.server.CaptchaServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>captchaServiceImpl</servlet-name>
        <url-pattern>/registration/CaptchaService</url-pattern>
    </servlet-mapping>
    <!-- Servlets -->
    <!--<servlet>-->
        <!--<servlet-name>greetServlet</servlet-name>-->
        <!--<servlet-class>org.redhatchallengeatchallenge.rhc2013.server.GreetingServiceImpl</servlet-class>-->
    <!--</servlet>-->
  <!---->
    <!--<servlet-mapping>-->
        <!--<servlet-name>greetServlet</servlet-name>-->
        <!--<url-pattern>/registration/greet</url-pattern>-->
    <!--</servlet-mapping>-->
  
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>registration.html</welcome-file>
    </welcome-file-list>

    <!--Shiro Configuration-->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

</web-app>
